 TASK1:Write a program to iterate the first 10 numbers, and in each iteration, print the sum of
the current and previous number.

In [19]:
prev=0
for i in range(1,11):
    sum=prev+i
    print(i,"+", prev, "=", sum)
    prev=i

1 + 0 = 1
2 + 1 = 3
3 + 2 = 5
4 + 3 = 7
5 + 4 = 9
6 + 5 = 11
7 + 6 = 13
8 + 7 = 15
9 + 8 = 17
10 + 9 = 19

TASK2: Print the following pattern

In [30]:
 for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

55555

Task3: Write a program to display only those numbers from a list that satisfy the following
conditions

In [29]:
numbers=[12,75,150,180,145,525,50]
print("i. The number must be divisible by five")
for item in numbers:
    if item%5==0:
        print(item)

i. The number must be divisible by five
75
150
180
145
525
50

In [70]:
print("ii. If the number is greater than 150, then skip it and move to the next number")
for item in numbers:
    if item>150:
        continue
    print(item)

ii. If the number is greater than 150, then skip it and move to the next number
12
75
150
145
50

In [71]:
print("iii. If the number is greater than 500, then stop the loop")
for item in numbers:
    if item>500:
        break
    print(item)

iii. If the number is greater than 500, then stop the loop
12
75
150
180
145

Task4: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding
up the two numbers before it. The first two numbers are 0 and 1.

In [21]:
first_number=0
second_number=1
count=0
terms=10
while count<terms:
    print(first_number)
    n_th=first_number+second_number
    first_number=second_number
    second_number=n_th
    count+=1

0
1
1
2
3
5
8
13
21
34

Task5: Write a program to use the loop to find the factorial of a given number.

In [27]:
number=int(input("Enter a number for which you want factorial = "))
factorial=1
for i in range(1,number+1):
    factorial=factorial*i
print("The factorial of",number,"is",factorial)

Enter a number for which you want factorial = 5
The factorial of 5 is 120

Task6: Write a program to iterate a given list and count the occurrence of each element and
print to show the count of each element

In [78]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list",sample_list)
for item in sample_list:
    if item in count:
        count[item]+=1
    else:
        count[item]=1
  
print("printing count of each item",count)

Original list [11, 45, 8, 11, 23, 45, 23, 45, 89]
printing count of each item {11: 6, 45: 9, 8: 3, 23: 6, 89: 3}

Task7:Given two lists, l1 and l2, write a program to create a third list l3 by picking an
odd-index element from the list l1 and even index elements from the list l2.

In [75]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3=list()

odd_number=l1[1::2]
print(odd_number)

even_number=l2[0::2]
print(even_number)

l3.extend(odd_number)
l3.extend(even_number)
print(l3)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]